body
{
	font-family: arial, lucida, helvetica, sans-serif;
	color: #444444;
	background-color: #dddddd;
	line-height: 1.2em;

	display: flex;
	flex-direction: column;
	gap: 2px;
}

li
{
	margin: 0.2em 0;
}

img
{
	max-width: 100%;
	width: auto;
	height: auto;
}

table
{
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	margin-top: 1em;
	margin-bottom: 1em;
}

th
{
	color: #ffffff;
	background-color: #34637F;
}

td, th
{
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	padding: 0.2em;
}

tr:nth-child(even)
{
	background-color: #dddddd;
}

tr:nth-child(odd)
{
	background-color: #ffffff;
}

tr a
{
	color: #a53a5a;
}

tr a:visited
{
	color: #b98341;
}

h1
{
	color: #6aa43a;
	line-height: 1.2em;
}

a
{
	color: #2d5b76;
}

a:visited, a.active
{
	color: #a53a5a;
}

pre
{
	background-color: #dddddd;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	padding: 1em;
	overflow-x: auto;
}

input:read-only
{
	background-color: #dddddd;
}

form
{
	display: table;
}

form div
{
	display: table-row;
}

form div label, form div input
{
	padding: 0.2em;
	margin: 0.2em;
	display: table-cell;
}

button, input[type=submit]
{
	color: #ffffff;
	background-color: #b98341;
	padding: 0.3em;
}

#header
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	background-color: #1c4258;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: #ffffff;
}

#header a
{
	font-size: 200%;
	color: #dddddd;
	text-decoration: none;
}

#header a:hover
{
	color: #ffffff;
}

#login
{
	font-size: 87%;
}

#login a
{
	font-size: 100%;
}

#menu
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5em;

	background-color: #983251;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	padding: 1em;
}

#menu a
{
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	background-color: #7c223e;
	color: #ffffff;
	padding: 0.5em;
}

#menu a:hover
{
	background-color: #b34365;
}

#menu a.active
{
	background-color: #34637f;
}

@media only print
{
	#header, #menu
	{
		display: none;
	}
}

#contents
{
	padding: 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	background-color: #ffffff;
	flex: 1;
	overflow: hidden; /* Force clipping */
}

#rte
{
	background-color: #ffffff;
}

.mandatory
{
	color: #7c223e;
}

.formwrapper, .tablewrapper
{
	overflow-x: auto;
}

.table
{
	display: table;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.tbody
{
	display: table-row-group;
}

.tr
{
	display: table-row;
}

.td
{
	display: table-cell;
}

.th
{
	text-align: center;
	font-weight: bold;
	display: table-cell;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	color: #ffffff;
	background-color: #34637f;
	margin: 0.1em;
	padding: 0.2em;
}

.invalid
{
	border-style: solid;
	border-width: 3px;
	border-color: #7c223e;
}

div.menusection:empty
{
	display: none;
}

.menusection a
{
	text-decoration: none;
	padding: 0.5em;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	background-color: #dddddd;
	color: #2d5b76;
}

.menusection a:hover
{
	background-color: #aaaaaa;
}

.menusection a.active
{
	background-color: #aaaaaa;
	color: #2d5b76;
}

.tabpage
{
	margin-top: 0.5em;
	padding: 0.5em;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
}

.breadcrumbs
{
	font-size: 85%;
}

.operation-toolbar
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em;

	background-color: #dddddd;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	padding: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.operation-toolbar a
{
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	background-color: #34637f;
	color: #ffffff;
	padding: 0.5em;
}

.operation-toolbar a:hover
{
	background-color: #7c223e;
}

@media only screen and (min-width: 1024px)
{
	#menu a
	{
		min-width: 9em;
	}
}
