#container
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 5px;
}

#submenu
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5em;

	background-color: #983251;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	padding: 1em;
}

#submenu a
{
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa;
	background-color: #7c223e;
	color: #ffffff;
	padding: 0.5em;
}

div#submenu:empty
{
	display: none;
}

#submenu a:hover
{
	background-color: #b34365;
}

#submenu a.active
{
	background-color: #34637f;
}

#submenu a.create-page, #submenu a.create-album
{
	background-color: #8b5e26;
}

#submenu a:hover.create-page, #submenu a:hover.create-album
{
	background-color: #c8904b;
}

#submenu .album-buttons
{
	padding-top: 0.2em;
}

#submenu .album-buttons a
{
	display: inline;
	background-color: #983251;
	border-style: none;
}

@media only screen and (min-width: 1024px)
{
	#container
	{
		flex-direction: row;
	}

	#submenu
	{
		text-align: left;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: left;
		width: 11em; /* Width of submenu link (9) + twice the padding (2 * 0.5) + twice the gap (2 * 0.5) */
	}

	div#submenu:empty
	{
		display: flex;
	}

	#submenu a
	{
		width: 9em;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media only print
{
	#submenu
	{
		display: none;
	}

	h1
	{
		color: #000000;
	}
}
