#menu a.create-album
{
	background-color: #8b5e26;
}

#menu a:hover.create-album
{
	background-color: #c8904b;
}

#submenu a.create-album
{
	background-color: #8b5e26;
}

#submenu a:hover.create-album
{
	background-color: #c8904b;
}

#submenu .album-buttons
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.2em;
}

#submenu .album-buttons a
{
	background-color: #983251;
	border-style: none;
}
