#menu a.pagemanager-operation
{
	background-color: #8b5e26;
}

#menu a:hover.pagemanager-operation
{
	background-color: #c8904b;
}

#submenu a.pagemanager-operation
{
	background-color: #8b5e26;
}

#submenu a:hover.pagemanager-operation
{
	background-color: #c8904b;
}
